!.gitignore
/make-fnnas/kernel
/make-fnnas/u-boot
!make-fnnas/u-boot/rockchip/easepi-a2
/make-fnnas/fnnas-files/different-files
!make-fnnas/fnnas-files/different-files/easepi-a2
/fnnas
/fnnas-arm64
/fnnas-debs
/fnnas-dtbs
/download
/out
/tmp
.DS_Store
npm-debug.log*
*.rej
*.orig
*~
\#*#
